*{
    
    background-color: black;
    color: white;
    font-size: 20px;
}
.kolumna2{
    
    text-align: center;
    
}
.circle{
    
    border-radius: 25%;
    width: 400px;
        
}
.sepia{
    
    filter: sepia(75%);
    width: 400px;
    border-style: dashed;
    border-width:15px;;
    border-color:blue;
    
}
