
    *{
      margin: 0px;
      padding: 0px;
    }
    section{
      overflow: hidden;
    }
    #ramka{
      margin-right: auto;
      margin-left: auto;
      min-width: 300px;
      max-width: 1000px;
    }
    #naglowek{
      background-color: red;
      font-size: 20pt;
      color: #000000;
      font-family: Arial;
      font-style: italic;
      text-align:center;
      font-weight: bold;
      }
    #stopka{
      background-color: red;
      font-size: 14pt;
      color: blue;
      font-family:Arial;
      font-style:Italic;
      clear:both;
    }
    .kolumny{
      margin-top: 10px;
      margin-right: 2%;
      margin-bottom: 2%;
      margin-left: 10px;
      background-color: red;
    }
     .mapa{
      margin-top: 10px;
      margin-right: 2%;
      margin-bottom: 2%;
      margin-left: 10px;
      background-color: red;
      text-align:center;
      background: rgb(13,62,22);
      background: linear-gradient(90deg, rgba(13,62,22,1) 0%, rgba(255,255,255,1) 50%, rgba(255,0,0,1) 100%);
    }
     .dojechac{
      margin-top: 10px;
      margin-right: 2%;
      margin-bottom: 2%;
      margin-left: 10px;
      background-color: red;
      text-align:center;
      background: rgb(13,62,22);
      background: linear-gradient(90deg, rgba(13,62,22,1) 0%, rgba(255,255,255,1) 50%, rgba(255,0,0,1) 100%);
    }

    #kol1{
      float: left;
      width: 20%;
    }
    #kol2{
      background: rgb(13,62,22);
      background: linear-gradient(90deg, rgba(13,62,22,1) 0%, rgba(255,255,255,1) 50%, rgba(255,0,0,1) 100%);
      padding: 25px;
      text-align: center;
    }
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      width:100%;
      background-color: red;
      border: 1px solid #555;      
    }
    li a{
      display: block;
      color: #fff;
      padding: 8px 16px;
      text-decoration:none;
    }
    li{
      text-align: center;
      border-bottom: 1px solid #f1f1f1;
    }
    li a.active{
      background-color: red;
      color:white;
    }
    li a:hover:not(.active){
      background-color: red;
      color: black;
    }
    @media only screen and (max-width:620px){
      #kol1{
        width:100%;
      } 
    }
.gora{
    width: 100%;
    height: 100%;
    text-align: center;
}


